{% extends '/base.html.twig' %}
{% block title %}{{ 'edit'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="../css/main.css" />
{% endblock %}

{% block body %}
    <h4 class="pl-3">{{ 'edit'|trans }}</h4>
    <hr>
    <form id="legal-notice-edit" class="form-horizontal" action="{{ path('_legal_notice_edit') }}" method="POST">
        {% form_theme form '/form/legal-notice-edit.html.twig' %}
            {{ form_widget(form) }}
            <input type="hidden" name="id" value="{{ id }}" />
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-success" type="submit">{{ 'save'|trans }}</button>
                    <a href="{{ path('_legal_notice', {'language': language}) }}" class="btn btn-warning">{{ 'cancel'|trans }}</a>
                </div>
            </div>
        {{ form_end(form) }}
    </form>
{% endblock %}